
.div1 {
  /*margin-left: 10%;*/  
  width: 100%;
  /*border: 0.5px solid black;
  border-radius: 20px;
  border-style: double;
  padding: 5%;*/
  display: block;
}
@keyframes animation1{
  from {background-image:url('Sample_Image.jpg');}
  to {background-image:url('Sample_Image_2.jfif');}
}
.div2 {
  width: 100%;
  height: 400px;
  background-image:url('Sample_Image.jpg');
  animation-name:animation1;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
table{
  border: 0.5px solid black;
  border-radius: 20px;
  border-style: double;
  padding: 5%;
  background-color: lightblue;
  border-spacing: 10px;
  border-collapse: separate;
}
h1 {
    color: green;
    /*font-size: 5em;*/
    text-shadow: 1px 1px 1px red;
    text-decoration: underline overline;
}

p1 {
    font-family: cursive;
    color: black;
}
p2 {
    font-family: cursive;
    color: blue;
}
ol {
  list-style-type: upper-roman;
}
