
.div1 {
  margin-left: 10%;  
  width: 80%;
  /*border: 0.5px solid black;
  border-radius: 20px;
  border-style: double;
  padding: 5%;*/
  display: block;
}
table{
  border: 0.5px solid black;
  border-radius: 20px;
  border-style: double;
  padding: 5%;
  background-color: lightblue;
  border-spacing: 10px;
  border-collapse: separate;
}
h1 {
    color: green;
    /*font-size: 5em;*/
    text-shadow: 1px 1px 1px red;
    text-decoration: underline overline;
}

p1 {
    font-family: cursive;
    color: black;
}
p2 {
    font-family: cursive;
    color: blue;
}
ol {
  list-style-type: upper-roman;
}
