
.div1 {
  border: 5px outset red;
  background-color: lightblue;
  text-align: left;
  margin-left: 40%;  
}
h1 {
    color: green;
    /*font-size: 5em;*/
    text-shadow: 1px 1px 1px red;
    text-decoration: underline overline;
}

p1 {
    font-family: cursive;
    color: black;
}
p2 {
    font-family: cursive;
    color: blue;
}
ol {
  list-style-type: upper-roman;
}
